.desabilitado {
    cursor: unset !important;
    opacity: 40%;
}

.statusparceiro{
    font-size: 18px;
    margin-bottom: 18px;
}

div.dados {
    background: #ffb400;
    width: 60%;
    text-align: center;
}

div.dados p.fechar{
    text-align: right;
    font-size: 28px;
    padding: 5px 10px;
    margin-bottom: -4px;
}

div.dados p.fechar > *{
    cursor: pointer;
}

div.dados hr{
    margin: 8% 10%;
    color: black;
    opacity: 0.75;
}

div.nome p.iconeconta{
    font-size: 120px;
    margin-bottom: -10px;
    color: #00643c;
}

div.nome h2{
    font-weight: bold;
}

div.informacoes {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

div.informacoes p{
    margin: 0;
}

div.informacoes input{
    background: none;
    border: 0;
    width: 119px;
    text-align: center;
    color: unset;
    cursor: text;
}

div.transacoes p {
    font-size: 28px;
}

div.transacoes table {
    width: 90%;
    margin: 0 auto;
    background: #d9d9d9;
}

div.transacoes table thead {
    background: #1e00c3;
    color: white;
}

div.transacoes table input[type=checkbox]{
    width: 16px;
    cursor: default;
}

div.transacoes table tbody tr {
    background: #fafafa;
    padding: 5px;
}

div.transacoes table tbody tr:nth-child(odd) {
    background: #e5e5e5;
}

div.transacoes table tbody tr td{
    padding: 5px;
}

div.transacoes table td img{
    width: 17px;
}

div.transacoes table input{
    text-align: center;
    border: 0;
    background: 0;
    color: unset;
    width: 140px;
    cursor: text;
}

p.premioresgatado {
    color: black !important;
    font-weight: normal !important;
    font-size: 16px !important;
    cursor: unset !important;
    margin-bottom: 0;
}

div.controles {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 90%;
}

div.controles div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

div.controles p{
    cursor: unset;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

div.controles img {
    position: unset;
    filter: invert(1);
    width: 15px;
    cursor: pointer;
}

div.statuscontrato {
    margin: 14px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

div.statuscontrato p{
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

div.statuscontrato p.contratofechado {
    color: green;
}

div.statuscontrato p.contratoaberto {
    color: red;
}

button.botaostatus {
    border: 0;
    background: #1e00c3;
    color: white;
    padding: 7px 10px;
    border-radius: 20px;
}

button.botaostatus:hover{
    background: #160090;
    transition: 0.6s;
}
