div.premio {
    background: #1e00c3;
    color: white;
    display: grid;
    padding: 6px 20px;
    border-radius: 13px;
    gap: 6px;
    cursor: pointer;
}

div.premio p{
    margin: 0;
    color: white;
}

div.premio div.itens{
    display: flex;
}

div.premio div.itens div{
    width: 50%;
}

div.premio div.dados p.nome{
    font-weight: bold;
    font-size: 20px;
    justify-content: space-between;
}

div.premio div.dados p.valor{
    opacity: 85%;
}

div.premio div.dados p.descricao{
    font-size: 14px;
    margin-top: 5px;
}

div.premio div.imagem{
    display: flex;
    justify-content: flex-end;
}

div.premio div.imagem img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
}

div.premio div.divacao{
    justify-content: end;
    gap: 10px;
}

div.premio input{
    border: 0;
    background: 0;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    max-width: 250px;
    width: 100%;
}

div.premio input::placeholder{
    color: #a0a0a0;
}

div.edicao{
    flex-direction: column;
}

div.edicao div{
    max-width: 100%;
    justify-content: unset;
}

div.edicao textarea{
    background: white;
    color: black;
    max-width: 100%;
    border: 0;
    outline: none;
    width: 100%;
    padding: 0 6px;
}

div.divdescricao {
    margin-top: 20px;
    flex-direction: column;
}

div.divdescricao p{
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.acao{
    cursor: pointer;
}

.selecionado {
    background: #ffb400 !important;
}

.selecionado p{
    color: black !important;
}
