################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/IndicaLMR/FileContentIndex/18e29d3e-cc4e-4d68-be84-6e5766e36ddf.vsidx
/.vs/IndicaLMR/FileContentIndex/2caab5fc-27e0-4925-88aa-5e8b809d27af.vsidx
/.vs/IndicaLMR/FileContentIndex/56dff7dd-7a84-40ee-9ce8-6c39ce4d6f40.vsidx
/.vs/IndicaLMR/FileContentIndex/6e059a69-e006-445b-9880-e766d9a4575c.vsidx
/.vs/IndicaLMR/FileContentIndex/c3a3c256-ea9e-4981-9e10-45b30a4f1025.vsidx
/.vs/IndicaLMR/FileContentIndex/184d821d-c802-4917-ba6e-21621679e65a.vsidx
/.vs/IndicaLMR/FileContentIndex/827928ce-3049-48be-95dc-a19d5f48a909.vsidx
/.vs/IndicaLMR/FileContentIndex/5a762f48-dc5d-400b-bd5e-b3c84a0b691f.vsidx
/.vs/IndicaLMR/FileContentIndex
